@font-face {
    font-family: 'IBMPlexSans';
    src: url('@fonts/IBMPlexSans/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('./IBMPlexSans/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}