@use '@styles/utils' as uti;

.angel-categories{
    @include uti.flexbox(flex-start,null,1.5rem,column);
    width: 100%;
    padding: 1.8rem 1.5rem;
    box-shadow: var(--box-shadow-1), var(--box-shadow-2);
    border-radius: 1rem;
}

.angel-categories-top{
    @include uti.flexbox(center,null,1rem);
    width: 100%;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid var(--bg-border-dark, uti.$natural-color-1);

    & img{
        @include uti.size(2rem);
        object-fit: cover;
        flex-shrink: 0;
    }

    & h3{
        @include uti.Typography(500,1.8rem,2.6rem);
        @include uti.textellip(1);
        text-transform: capitalize;
        color: var(--color-trending-dark,uti.$black-color-1);
    }
}

.angel-categories-body{
    @include uti.flexbox(center,center);
    width: 100%;
    
}
.angel-categories-button{
    @include uti.flexbox(center,center);
    width: 90%;
    padding: 0.8rem 1.1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid var(--bg-border-dark, uti.$natural-color-1);
    background: var(--bg-trending-dark, uti.$natural-color-1);
    
    & span{
        @include uti.Typography(500,1.4rem,2rem);
        @include uti.textellip(1);
        color: var(--color-trending-dark, uti.$gray-color-1);
    }
}

@include uti.media(max, 900px){
    .angel-categories{
        margin-bottom: 8rem;
    }
}
@include uti.media(max, 500px){
    .angel-categories{
        display: none;
    }
}