@use '@styles/utils' as uti;

.link{
    @include uti.flexbox(center,flex-start,1.2rem);
}
.link-item{
    @include uti.flexbox(center,flex-start,0.2rem);
    & i{
        @include uti.size(1.6rem);
        object-fit: cover;
        color: uti.$gray-color-2;
    }
    & span{
        @include uti.Typography(400,1.3rem,1.9rem);
        color: uti.$gray-color-2;
        text-transform: capitalize;
        cursor: pointer;
    }
}
.link-item:last-child{
    & i,span{ 
        color: var( --color-trending-dark,uti.$black-color-1);
    }
}